<.flash_group flash={@flash} />

<main class="px-4 py-16">
  <h1 class="text-center text-6xl">Orb Showcase</h1>

  <div class="my-16" />

  <ul class="space-y-8 text-center text-4xl font-semibold">
    <li><.link navigate="/menu">Menu</.link></li>
    <li><.link navigate="/combobox">Combobox</.link></li>
    <li><.link navigate="/calendar-grid">Calendar</.link></li>
    <li><.link navigate="/generate">Generate</.link></li>
  </ul>
</main>