<style>
  lipid-calendar-grid h1 {
    text-align: center;
    font-size: 3rem;
  }
  lipid-calendar-grid button:not(table *) {
    padding: 0.5em 1em;
    background: rgba(255 255 255 / 20%);
    border: 1px solid rgba(255 255 255 / 10%);
  }
  lipid-calendar-grid *:focus {
    background: #0474dd;
  }
  lipid-calendar-grid table {
    font-size: 200%;
  }
  lipid-calendar-grid th, lipid-calendar-grid td {
    text-align: center;
    width: 2em;
    line-height: 1.8;
  }
  lipid-calendar-grid td button {
    display: block;
    width: 100%;
    text-align: center;
  }
</style>

<div>
  <WasmHTML.html wasm={@wasm} />
</div>

<hr class="my-8" />

<details>
  <summary>View WebAssembly source (<%= byte_size(@wasm) %> bytes compiled)</summary>
  <pre><%= @wat %></pre>
</details>
