<.combobox-style />

<div id="reactCombobox">
</div>

<script defer>
    document.addEventListener("DOMContentLoaded", () => {
        const el = document.getElementById("reactCombobox");
        window.startReact(el);
    }, {once: true});
</script>
